<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la Tarification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hatran&display=swap" rel="stylesheet">
</head>
<body>
    <div class="result-container">
        <h2>Résultat de la Tarification</h2>
        <p>La somme négative calculée est : {{ prime }}</p>
        <button id="back-button">Retour à l'accueil</button>
    </div>
    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <p>Êtes-vous sûr de vouloir retourner à l'accueil ? Les données non sauvegardées seront perdues.</p>
            <button id="confirm-back">Oui</button>
            <button id="cancel-back">Non</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/back_button.js') }}" type="module"></script>
</body>
</html>
