<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la Tarification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hatran&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="result-container">
        <h2>Résultat de la Tarification</h2>
        <p>La prime d'assurance annuelle est de : {{ negative_sum | abs }} €</p>

        <!-- <canvas id="weightedAverageChart" width="800" height="400"></canvas> -->

        <canvas id="precipitationChart" width="800" height="500"></canvas>

        <label for="period-select">Sélectionnez une période :</label>
        <select id="period-select">
        
        <!-- Les options seront générées dynamiquement par JavaScript -->
        </select>

        
        <form action="{{ url_for('routes.generate_quote') }}" method="get">
            
            <button type="submit" id="generate-quote">Générer mon devis</button>
        </form>
        <button id="back-button">Retour à l'accueil</button>
    </div>
    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <p>Êtes-vous sûr de vouloir retourner à l'accueil ? Les données non sauvegardées seront perdues.</p>
            <button id="confirm-back">Oui</button>
            <button id="cancel-back">Non</button>
        </div>
    </div>
    <div id="flask-date" data-info='{{ dates|tojson|safe }}'></div>
    <div id="flask-pluie" data-info='{{ precipitations|tojson|safe }}'></div>
    

    <script src="{{ url_for('static', filename='js/back_button.js') }}" type="module"></script>

    <script src="{{ url_for('static', filename='js/precipChart.js') }}" type="module"></script>
</body>
</html>
